body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #3e6c9b;
}

h2 {
    color: #6a6b72;
}

form {
    margin: 20px 0;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #842323;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #141010;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #580b0b;
}